{{#classdata}}
<li class="yui3-u-1-3">
    <table class="pub-table">
        <thead>
        <tr>
            <th rowspan="2"></th>
            <th colspan="5">
                {{class}}
            </th>
        </tr>
        <tr>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
        </tr>
        </thead>
        <tbody>
        {{#timetable}}
        <tr>
            <td>{{joint}}</td>
            <td>{{mon}}</td>
            <td>{{tues}}</td>
            <td>{{wed}}</td>
            <td>{{thurs}}</td>
            <td>{{fri}}</td>
        </tr>
        {{/timetable}}
        </tbody>
    </table>
</li>
{{/classdata}}