{{#timetable}}
<tr>
    <td>
        <p>{{joint}}</p>
        <p>{{starttime}}-{{endtime}}</p>
    </td>
    <td class="drop" data-map="a1">
        <div class="item assigned">
            <p>{{mon.name}}</p>
            <p>{{mon.teach}}</p>
        </div>
    </td>
    <td class="drop" data-map="a2">
        <div class="item assigned">
            <p>{{tues.name}}</p>
            <p>{{tues.teach}}</p>
        </div>
    </td>
    <td class="drop" data-map="a3">
        <div class="item assigned">
            <p>{{wed.name}}</p>
            <p>{{wed.teach}}</p>
        </div>
    </td>
    <td class="drop" data-map="a4">
        <div class="item assigned">
            <p>{{thurs.name}}</p>
            <p>{{thurs.teach}}</p>
        </div>
    </td>
    <td class="drop" data-map="a5">
        <div class="item assigned">
            <p>{{fri.name}}</p>
            <p>{{fri.teach}}</p>
        </div>
    </td>
</tr>
{{/timetable}}